# Sentry
SENTRY_ENABLED=true # Whether to enable Sentry for error logging
SENTRY_DSN=your-sentry-dsn
SENTRY_ENABLE_LOGS=true # Whether to also include logs in Sentry

# Database
DATABASE_URL=postgresql-database-connection-string # Connection string to your PostgreSQL database
